.container{
    padding: 50px;
    border: 1.5px solid ;
    margin-top: 10px;
    max-width: 100%;
    
   
}

h1{
    padding: 50px;
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }
  img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }
