<app-menu></app-menu>
<div>
    
  <p class="texto">
    Fenómenos como la evolución y la selección han provocado la sorprendente variedad de organismos
    vivos que hoy en día habitan en el planeta tierra. Nadie conoce exactamente el número total de
    especies y formas de vida que existen pero se estima alrededor de un millón de especies diferentes
    de plantas y más de diez millones de especies animales. Para poder clasificar semejante
    biodiversidad, los científicos usan grupos o categorías según las características comunes y distintivas
    que presentan. Estas especies viven a su vez en lo que denominamos hábitats. Las comunidades de
    seres vivos junto con el hábitat en el que viven forman el ecosistema.
    Los ecosistemas funcionan gracias a las complejas relaciones que se dan entre plantas, animales y
    sus ambientes físicos. Los organismos presentan mecanismos de adaptación para sobrevivir dentro
    de un ecosistema. Son unidades de constante cambio de origen estacional o relacionados con los
    ciclos del carbón, de los nutrientes, la descomposición…
    Hoy en día en muchos lugares del mundo, los ecosistemas están siendo alterados por acciones
    antrópicas, el crecimiento acelerado de la población humana ha creado la necesidad inmediata de
    ampliar las áreas requeridas para la producción de alimento. Como consecuencia, se produce una
    degradación extensiva del terreno.
    La capacidad que tiene la tierra para suministrar alimentos a sus poblaciones no es infinita, y si se
    sobrepasa, puede ocasionar disminución de su fertilidad, erosión, deforestación y destrucción de
    hábitats. Dada la fuerte demanda de productos, otros lugares han optado por una agricultura
    extensiva que incremente la productividad. Esto se ha logrado a través de la mecanización, la
    compra de campos más grandes y un mayor uso de pesticidas y fertilizantes.
    Los bosques cubren un tercio de la superficie continental, protegen los suelos, suministran
    productos útiles y siguen constituyendo un hogar para una enorme variedad de especies. Tienen un
    papel muy importante en el equilibrio del oxígeno con el dióxido de carbono y por todo ello, hay que
    tener constancia de su importancia y conservarlos mediante el empleo de buenas prácticas
    sostenibles.
    </p>
  

  <figure class="figure">
    <img src="./assets/imagen/img-1.jpg" class="figure-img img-fluid rounded" alt="...">
    <figcaption class="figure-caption"><h2>APRENDIENDO SOBRE VIDA SILVESTRE…INVESTIGANDO LOS ECOSISTEMAS</h2></figcaption>
  </figure>
</div>

<p>Desde nuestros planteamientos deberíamos ser capaces de: motivar al alumnado haciéndoles
    participes del proceso de aprendizaje; conocer y valorar los conocimientos previos del alumnado
    respecto al tema planteado; plantear situaciones que hagan posible el aprendizaje por descubrimiento
    guiado; facilitar la observación directa, la manipulación y la experimentación con el objeto de
    aprendizaje, así como la comunicación de sus logros, hallazgos e ideas; desarrollar las capacidades de
    los alumnos/as; aprovechar las posibilidades que tienen los cuentos, los cómics, internet o los vídeos
    educativos; descubrir el valor del asombro y del entusiasmo con las actividades planteadas; aprender
    de manera divertida; innovar y crear los materiales del aula; implicarles personalmente en la
    construcción de sus conocimientos; aprovechar las ventajas del aprendizaje entre iguales y el
    cooperativo; propiciar el trabajo autónomo de los niños y niñas, en los trabajos en pequeño grupo o
    individuales, ofreciendo espacios donde puedan tener referentes sobre sus actividades; etc. Es
    indudable que la lista puede ampliarse mucho más pero, si no queremos caer en una “sucesión de
    etiquetas pedagógicas”, necesitamos “algo más”.
    En primer lugar, debemos tener presente el currículum oficial. Recientemente hemos asistido a una
    reforma curricular que debemos “interpretar” para trasladarla a nuestras aulas. Además de los
    “habituales” cambios en los contenidos y criterios de evaluación, en esta ocasión, se ha introducido un
    nuevo término –competencias- que probablemente exige modificaciones respecto a lo que hacíamos.
    Revisaremos cómo se recoge el tema objeto de estudio en este documento.
    Y, en segundo lugar, necesitamos un modelo de planificación de unidades didácticas que nos facilite la
    “incorporación ordenada” de todo lo que queremos integrar en la propuesta que ensayemos. Éste no
    puede ser una “cuestión técnica” -como las actuales programaciones que sólo pretende dar respuesta
    a una exigencia administrativa- sino que debe favorecer la integración de nuestros conocimientos y
    experiencias, la reflexión y la toma de decisiones en y sobre la práctica educativa. </p>

    <div class="card text-bg-dark">
        <img src="./assets/imagen/img-2.jpg" class="card-img" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text">Last updated 3 mins ago</p>
        </div>
      </div>